doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title 500 Error Interno del Servidor
    link(rel='stylesheet' href='public/css/404.css')
  body
    .back-image
      img(src='public/img/res/Logo.png' alt)
    header
      h1.error-type 500
    main
      h3.error-message Error Interno del Servidor
      p.error-text.
        
        Pedimos disculpas por las molestias ocasionadas
        
      button.btn(type='submit')
        a(href='index.html') Volver a Inicio 
