doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/public/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/css/admin.css") 
  body
    if ruta != '/login' & ruta != '/new'
      header(class="header container")
        h1(class="text-center top-space") Seccion de administracion #{seccion}
        nav(class="top-space nav justify-content-between")
          a(href="/admin/mascotas" class="nav-link") Mascotas
          a(href="/admin/accesorios" class="nav-link") Accesorios
          a(href="/admin/servicios" class="nav-link") Servicios
          a(href="/admin/ordenes" class="nav-link") Órdenes
  block contenido