doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/public/css/admin.css") 
    link(rel='icon' href='/public/img/res/shop.webp')
    script(src="/public/js/admin.js")
  body
    if ruta != '/login' & ruta != '/new'
      header(class="main-header")
        h1(class="") Seccion de administracion #{seccion}
        nav(class="nav-menu")
          a(href="/admin/mascotas" class="nav-link") Mascotas 
          a(href="/admin/accesorios" class="nav-link") Accesorios
          a(href="/admin/servicios" class="nav-link") Servicios
          a(href="/admin/ordenes" class="nav-link") Órdenes
          a(href='/user/logout' class = "nav-link") Salir
  script.
    const navLinks = document.querySelectorAll(".nav-link");
    const loc = window.location.pathname;
    if(loc.startsWith("/admin/mascotas"))
      navLinks[0].classList.add("nav-link-active");
    if(loc.startsWith("/admin/accesorios"))
      navLinks[1].classList.add("nav-link-active");
    if(loc.startsWith("/admin/ordenes"))
      navLinks[3].classList.add("nav-link-active");

  != messages()
  block contenido