extends ./layout.pug
block contenido
  .xxx
    form.login-form(action="/users/forgot_password" method="post") 
      label(for='email') Introduzca su correo
      input(type="email" name="email" required id='email')
      input(type="submit" value="Enviar")