doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title TuMascota
    link(rel='stylesheet' href='/public/css/shared.css')
    link(rel='stylesheet' href='/public/css/log-in.css')
    link(rel='stylesheet' href='/public/css/alert-style.css')
    link(rel='icon' href='/public/img/res/shop.png')
  body
    header.main-header
      .main-header__container
        a(href='index.html')
          img.logo-tm(src='/public/img/res/Logo.png' alt)
    main#main
      section#login-section.login-section
        .login-section__container
          .login-section__header
            a.close-login(href='login.html')
              img(src='/public/img/login/close.png' alt)
          .logo-user
            img(src='/public/img/login/user.png' alt)
          img.login-section__logo(src='/public/img/res/Logo.png' alt)
          p.

            Ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para que pueda cambiar su contraseña.

          form.login-section__form(action="/users/forgot_password" method="POST")
            .form-container
              label.form-container__img(for='email')
                img(src='/public/img/login/email.png' alt)
              input#email(autofocus type='email' name='email' required)
              label.placeholder.move-placeholder(for='email') Correo Electrónico
            input#send-email.btn(type='submit' value='Enviar')
            a.btn.btn-cancel(href='/login.html' type='submit').

              Cancelar

          span.line-login
            | Recordaste la contraseña?

            a(href='/login.html') Accede Aquí
        #back-email-send.send-email
          .send-email__header Recuperar Contraseña
          .send-email__title
            img(src='/public/img/login/confirm-email.png' alt)
          h3 Revisa tu correo electrónico
          p.send-email__info
            | Hemos enviado un correo a

            span#email-val
            |  con las instrucciones para cambiar tu contraseña.

            br
          span.line-login Si no encuentra el correo, revise su bandeja spam
    script(src='/public/js/shared.js')
    script(src='/public/js/login.js')
    script(src='/public/js/modal-completed.js')
    script(src='/public/js/forgot-password.js')
