extends ./layout.pug
block contenido
  main
    section(class="container-section")
      div(class="main-title")
        h2(class="subtitle") TIENDA DE MASCOTAS
        p(class="subtitle-p") Bienvenidos a nuestra tienda online en Las Tunas, donde podrás encontrar tus mascotas preferidas          
      img(class="back-image" src="public/img/res/portada-transparente.png" alt="" )
      div(class="container-button")
        p(class="button-p") Accede a nuestras mascotas
        a(class="btn" href="/mascotas") CONTINUAR
block footer