extends ./layout.pug
block contenido
  main#main
    article.home
      h2.home-title
        strong Tienda de Mascotas y Accesorios
        .underline
          span
          img(src='/public/img/res/pata.webp' alt)
          span
      section.home-gallery
        img.home-gallery__picture(src='/public/img/inicio/pet1.png' alt)
        img.home-gallery__picture(src='/public/img/inicio/pet2.webp' alt)
        img.home-gallery__picture(src='/public/img/inicio/pet3.webp' alt)
        img.home-gallery__picture(src='/public/img/inicio/pet4.webp' alt)
        #carrusel.carrusel
      section.service
        h3.service__header
          | Nuestros Servicios

          .underline
            span
            img(src='/public/img/res/pata.webp' alt)
            span
        ul.service__list
          li.service__item
            span.service__item-number 1
            img(src='/public/img/inicio/new-user.webp' alt)
            strong Registrate Gratis
            p.
              Solo los usuarios registrados pueden hacer compras. Usaremos los datos de su cuenta para contactarlo.

            button.btn.service__item-btn(type='submit')
              a(href='/users/register') Regístrate
          li.service__item
            span.service__item-number 2
            img(src='/public/img/inicio/domicilio.webp' alt)
            strong Servicio Domicilio
            p.
              Ofrecemos un servicio de calidad y le hacemos la entrega hasta la puerta de su casa.

          li.service__item
            span.service__item-number 3
            img(src='/public/img/res/stethoscope.webp' alt)
            strong Mascotas Saludables
            p.

              Las mascotas que ofrecemos son bien tratadas, están en perfecto estado de salud y correctamente vacunadas.

            button.btn.service__item-btn(type='submit')
              a(href='/mascotas') Ver más
          li.service__item
            span.service__item-number 4
            img(src='/public/img/res/shop.webp' alt)
            strong Comunidad Amigable
            p.

              Tenemos una gran comunidad y los mejores artículos para ti.

            button.btn.service__item-btn(type='submit')
              a(href='/accesorios') Ver más
      section.home-articles
        .home-articles__container  
          h3 Mascotas Disponibles
            .underline
              span
              img(src='/public/img/res/pata.webp' alt)
              span
          p Abre tu 
            strong corazón 
            | y tu casa para nuestras mascotas 
        a.home-articles__picture(href="/mascotas")
          img(src="/public/img/inicio/mascotas.webp" alt="")
        .home-articles__btn 
          a.btn(href="/mascotas") Ver Mascotas  
      section.home__contact-us
        h3.home__contact-us-header.

          ¿Tienes alguna pregunta? Contactános

        img.home__contact-us-picture(src='/public/img/inicio/duda.webp' alt)
        |
        |
        ul.home__contact-us-list
          li.home__contact-us-item
            a(href="mailto:tumascota.cuba@gmail.com") 
              img(src='/public/img/res/mail.webp' alt)
              |
              |
              span
                | Escríbanos a 

                strong tumascota.cuba@gmail.com
          li.home__contact-us-item

            a(href="tel:+5358156518")
              img(src='/public/img/res/phone-blue.webp' alt)
              |
              |
              span
                | LLámanos al
                strong +5358156518

          li.home__contact-us-item
            img(src='/public/img/res/info.webp' alt)
            |
            |
            span
              | Búsquenos en 

              a(href='#')
                img(src='/public/img/res/facebook.webp' alt)
              |
              |
              a(href='https://chat.whatsapp.com/LiyHIrh5R9SHX9rDCehGjY')
                img(src='/public/img/res/whatsapp.webp' alt)
              |
              |
              a(href='https://t.me/Tu_Mascot')
                img(src='/public/img/res/telegram.webp' alt)

              |
              |
      section.home-articles
        a.home-articles__picture(href="/accesorios")
          img(src="/public/img/inicio/accesorios.webp" alt="")
        .home-articles__container  
          h3 Artículos Disponibles
            .underline
              span
              img(src='/public/img/res/pata.webp' alt)
              span
          p Poseemos variedad de 
            strong productos 
            | para que escojas el que más se ajusta a tus necesidades
        .home-articles__btn 
          a.btn(href="/accesorios") Ver Artículos

block scripts
  script(src='/public/js/shared.js')
  script(src='/public/js/menu.js')
  script(src='/public/js/index.js')
  script(src='/public/js/user-option.js')
  //- script(src='/public/js/alert.js')