extends ./layout.pug
block contenido
  main#main
    article.home
      h2.home-title
        | Tienda de Mascotas y Accesorios

        .underline
          span
          img(src='/public/img/res/pata.png' alt)
          span
      section.home-gallery
        img.home-gallery__picture(src='/public/img/inicio/pet1.png' alt)
        img.home-gallery__picture(src='/public/img/inicio/pet2.png' alt)
        img.home-gallery__picture(src='/public/img/inicio/pet3.png' alt)
        img.home-gallery__picture(src='/public/img/inicio/pet4.png' alt)
        #carrusel.carrusel
      section.service
        h3.service__header
          | Nuestros Servicios

          .underline
            span
            img(src='/public/img/res/pata.png' alt)
            span
        ul.service__list
          li.service__item
            span.service__item-number 1
            img(src='/public/img/inicio/new-user.png' alt)
            strong Registrate Gratis
            p.
              Solo los usuarios registrados pueden hacer compras. Usaremos los datos de su cuenta para contactarlo.

            button.btn.service__item-btn(type='submit')
              a(href='/users/register') Regístrate
          li.service__item
            span.service__item-number 2
            img(src='/public/img/inicio/domicilio.png' alt)
            strong Servicio Domicilio
            p.
              Ofrecemos un servicio de calidad y le hacemos la entrega hasta la puerta de su casa.

          li.service__item
            span.service__item-number 3
            img(src='/public/img/res/stethoscope.png' alt)
            strong Mascotas Saludables
            p.

              Las mascotas que ofrecemos son bien tratadas, están en perfecto estado de salud y correctamente vacunadas.

            button.btn.service__item-btn(type='submit')
              a(href='/mascotas') Ver más
          li.service__item
            span.service__item-number 4
            img(src='/public/img/res/shop.png' alt)
            strong Comunidad Amigable
            p.

              Tenemos una gran comunidad y los mejores artículos para ti.

            button.btn.service__item-btn(type='submit')
              a(href='/accesorios') Ver más
      section.home__contact-us
        h3.home__contact-us-header.

          ¿Tienes alguna pregunta? Contactános

        img.home__contact-us-picture(src='/public/img/inicio/duda.png' alt)
        |
        |
        ul.home__contact-us-list
          li.home__contact-us-item
            img(src='/public/img/res/mail.png' alt)
            |
            |
            span
              | Escríbanos a 

              strong tumascota@nauta.cu
          li.home__contact-us-item
            img(src='/public/img/res/phone-blue.svg' alt)
            |
            |
            span
              | LLámanos al 
              strong 58156518
              |  
          li.home__contact-us-item
            img(src='/public/img/res/info.png' alt)
            |
            |
            span
              | Búsquenos en 

              a(href='#')
                img(src='/public/img/res/facebook.png' alt)
              |
              |
              a(href='#')
                img(src='/public/img/res/whatsapp.png' alt)
              |
              |
              a(href='#')
                img(src='/public/img/res/telegram.png' alt)
                
              |
              |
block footer
  script(src='/public/js/shared.js')
  script(src='/public/js/menu.js')
  script(src='/public/js/index.js')
  script(src='/public/js/user-option.js')
  script(src='/public/js/alert.js')