doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Venta de Mascotas
    link(rel='stylesheet' href='/public/css/style.css')
    link(rel='stylesheet' href='/public/css/mascotas-style.css')
    link(rel='icon' href='/public/img/res/shop.png')
  body
    header#header.header
      .container-header
        img.logo(src='/public/img/res/shop.svg', alt)
        h1.title 
          span Tu
          | Mascota
      img.menu-icon(src='/public/img/res/bx-menu.svg', alt)
    nav.nav-menu
      .container-menu-element
        a.menu-element(href='/')
          img(src='/public/img/res/dog-home.svg', alt)
          span Inicio
        -if(path == "/")
          .line-element
      .container-menu-element
        #pet-submenu.menu-element
          img(src='/public/img/res/dog.png', alt)
          span Mascotas
          .show-submenu-container
            img.show-submenu-img(src='/public/img/res/next.png', alt)
          .submenu
            ul.submenu-list
              a.submenu-element(href='mascotas?perro=on')
                img(src='/public/img/res/shiba.svg', alt)
                |  Perros

              a.submenu-element(href='mascotas?gato=on')
                img(src='/public/img/res/cat.svg', alt)
                |  Gatos

              a.submenu-element(href='mascotas?ave=on')
                img(src='/public/img/res/macaw.svg', alt)
                |  Aves

              a.submenu-element(href='mascotas?roedor=on')
                img(src='/public/img/res/roedor.svg', alt)
                |  Roedor

              a.submenu-element(href='mascotas?pez=on')
                img(src='/public/img/res/fish.svg', alt)
                |  Peces

              a.submenu-element(href='mascotas?otro=on')
                img(src='/public/img/res/tortoise.svg', alt)
                |  Otros
        -if(path.startsWith("/mascotas"))
          .line-element
      .container-menu-element
        a.menu-element(href='/accesorios')
          img(src='/public/img/res/accesorios.png', alt)
          span Accesorios
        -if(path.startsWith("/servicios"))
          .line-element
      .container-menu-element
        #services-menu.menu-element
          img(src='/public/img/res/doctor.png', alt)
          span Servicios
          .show-submenu-container
            img.show-submenu-img(src='/public/img/res/next.png', alt)
          .submenu
            ul.submenu-list
              li.submenu-element
                img(src='/public/img/res/stethoscope.png', alt)
                span Veterinario
        -if(path.startsWith("/servicios"))
          .line-element
  != messages()
  block contenido

  footer
    .container-footer
      .thanks-for
        h3 ¡Gracias por visitar nuestra tienda!
      .container-footer-content
        .content-footer
          //  <a class="btn-footer" href="">Ver Mascotas</a> 
          ul.content-footer-list
            span.footer-content-title Contenido
            a.content-footer-element(href="/index.html").

              Inicio

            a.content-footer-element(href="/mascotas.html").

              Mascotas

            a.content-footer-element(href="/accesorios.html").

              Accesorios

            a.content-footer-element(href="/servicios.html").

              Servicios

        .contact
          span.footer-content-title Contacto
          .container-contact
            #modal-back-contact.modal-back
              #modal-contact.modal
                .modal-header Contactános
                .modal-body
                  h4.modal-body-header.

                    Tienes alguna pregunta? Contáctanos:

                  .modal-contact-us-container
                    .contact-us-elements
                      img(src="/public/img/res/mail.svg" alt)
                      span.

                        mascotunas@gmail.com
                    .contact-us-elements
                      img(src="/public/img/res/whatsapp.png" alt)
                      span 58156518
                    .contact-us-elements
                      a(href)
                        img(src="/public/img/res/facebook.png" alt)
                      span.

                        Venta de Mascotas en Las Tunas
            // Fin Modal Contact 
            #first-element-contact-us.contact-us
              span.element-contact-us Contáctanos
              img.contact-icon(src="/public/img/res/complain.png" alt)
            //  Modal About 
            #modal-back-about.modal-back
              #modal-about.modal
                .modal-header Acerca de
                .modal-body
                  h4.modal-body-header.

                    Creado y Desarrollado en Las Tunas por:

                  .container-us
                    .avatar-rafa
                      img(src="/public/img/res/avatar-rafa.png" alt)
                      span.name Rafael Acosta Márquez
                    .avatar-jesus
                      img(src="/public/img/res/avatar-jesus.png" alt)
                      span.name Jesús Manuel López Ponce
                  .avatar-abraham
                    h4.modal-body-header.

                      Con una idea original de:

                    span.name Sadan Jiskly Fernández Ávila
                    span.name José Abraham Oduardo Ávila
            //  Fin Modal About 
            #second-element-contact-us.about-us
              span.element-contact-us Acerca de
              img.contact-icon(src="/public/img/res/info.svg" alt)
        .social-media
          span.footer-content-title.center-title Redes Sociales
          a.social-media-icon(href)
            img(src="/public/img/res/facebook.png" alt)
        .go-top
          a(href="#header")
            img.go-top-icon(src="/public/img/res/next.png" alt)
    .line

  script(src="/public/js/menu.js")
  script(src="/public/js/index.js")
  script(src="/public/js/modal.js")

  block footer