doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Venta de Mascotas
    link(rel='stylesheet' href='/public/css/style.css')

    link(rel='stylesheet' href='/public/css/accesorios-style.css')
    link(rel='stylesheet' href='/public/css/mascotas-style.css')
    link(rel='stylesheet' href='/public/css/alert-style.css')
    link(rel='stylesheet' href='/public/css/buy-style.css')
    link(rel='stylesheet' href='/public/css/ordenes.css')
    link(rel='icon' href='/public/img/res/shop.png')
  body
    header#header.header
      .container-header
        img.logo-tm(src='/public/img/res/Logo.png' alt)
        .container-header-login
          if user
            a#orders-login.login-option.orders-login(href='/ordenes')
              img(src='/public/img/res/order-shop-cart.svg' alt)
              span.login-count-msj.orders-msj=user.toBeDelivered
            #bell-login.login-option.bell-login
              img(src='/public/img/res/bell.png' alt)
              span.login-count-msj.bell-msj=user.notifications
          if !user
            .go-login
              a.btn-go-login(href='/users/login') Acceder
              a.btn-go-login(href='/users/register') Registrarse
          if user
            img#avatar-login(src='/public/img/res/avatar.png' alt)
    if user
      section.sticky-hidden-menu
        article#account-section.account-section
          ul.account-section-submenu
            li.account-section-submenu-element Cuenta
            li.account-section-submenu-element
              img(src='/public/img/res/settings.png' alt)
              | Modificar Perfil

            li.account-section-submenu-element
              a(href="/users/logout") 
                img(src='/public/img/res/log-out.png' alt)
                |  Salir

        article#bell-section.bell-section
          ul.bell-submenu
            li.bell-submenu-title
              | Tiene 
              span.bell-number=user.notifications
              |  nuevas notificaciones.

            for not of user.messages
              li.bell-submenu-element
                | Nuevas Mascotas disponibles

                span.bell-time Hace 20 min
                span.remove-notifications
                  img(src='/public/img/res/borrar.png' alt)
              li.bell-submenu-element
                | Cuenta creada satisfactoriamente

                span.bell-time Hace 2 horas
                span.remove-notifications
                  img(src='/public/img/res/borrar.png' alt)
              li.bell-submenu-element
                | Nuevos articulos disponibles

                span.bell-time Hace 3 semanas
                span.remove-notifications
                  img(src='/public/img/res/borrar.png' alt)
              li.bell-submenu-element
                | Su mascota se subio a la galeria

                span.bell-time Hace 4 dias
                span.remove-notifications
                  img(src='/public/img/res/borrar.png' alt)
              li.bell-submenu-element
                | Ahora esta disponible la seccion veterinarios

                span.bell-time Hace 5 meses
                span.remove-notifications
                  img(src='/public/img/res/borrar.png' alt)
    img.menu-icon(src='/public/img/res/menu-icon.svg' alt)

    nav.nav-menu
      .container-menu-element
        a.menu-element(href='/')
          img(src='/public/img/res/dog-home.svg' alt)
          span Inicio
        .line-element
      .container-menu-element
        #pet-submenu.menu-element
          img(src='/public/img/res/pet.png' alt)
          span Mascotas
          .show-submenu-container
            img.show-submenu-img(src='/public/img/res/next.png' alt)
          .submenu
            ul.submenu-list
              a.submenu-element(href='mascotas')
                img(src='/public/img/res/dog.svg' alt)
                |  Perros

              a.submenu-element(href='mascotas')
                img(src='/public/img/res/cat.svg' alt)
                |  Gatos

              a.submenu-element(href='mascotas')
                img(src='/public/img/res/macaw.svg' alt)
                |  Aves

              a.submenu-element(href='mascotas')
                img(src='/public/img/res/roedor.svg' alt)
                | Roedor

            a.submenu-element(href='mascotas')
              img(src='/public/img/res/fish.svg' alt)
              |  Peces

            a.submenu-element(href='mascotas')
              img(src='/public/img/res/tortoise.svg' alt)
              | Otros
      .container-menu-element
        a.menu-element(href='/accesorios')
          img(src='/public/img/res/accesorios.png' alt)
          span Accesorios
        //  <div class="line-element"></div> 
      .container-menu-element
        #services-menu.menu-element
          img(src='/public/img/res/doctor.png' alt)
          span Servicios
          .show-submenu-container
            img.show-submenu-img(src='/public/img/res/next.png' alt)
          .submenu
            ul.submenu-list
              li.submenu-element
                img(src='/public/img/res/stethoscope.png' alt)
                | Veterinario


  != messages()
  block contenido

  footer
    .container-footer
      .thanks-for
        h3 ¡Gracias por visitar nuestra tienda!
      .container-footer-content
        .content-footer
          //  <a class="btn-footer" href="">Ver Mascotas</a> 
          ul.content-footer-list
            span.footer-content-title Contenido
            a.content-footer-element(href='/') Inicio

            a.content-footer-element(href='/mascotas')  Mascotas

            a.content-footer-element(href='/accesorios') Accesorios

            a.content-footer-element(href='/servicios') Servicios

        .contact
          span.footer-content-title Contacto
          .container-contact
            #modal-back-contact.modal-back
              #modal-contact.modal
                .modal-header Contactános
                .modal-body
                  h4.modal-body-header.

                    Tienes alguna pregunta? Contáctanos:

                  .modal-contact-us-container
                    .contact-us-elements
                      img(src='/public/img/res/mail.svg', alt)
                      span.

                        mascotunas@gmail.com
                    .contact-us-elements
                      img(src='/public/img/res/whatsapp.png', alt)
                      span 58156518
                    .contact-us-elements
                      a(href)
                        img(src='/public/img/res/facebook.png', alt)
                      span.

                        Venta de Mascotas en Las Tunas
            // Fin Modal Contact 
            #first-element-contact-us.contact-us
              span.element-contact-us Contáctanos
              img.contact-icon(src='/public/img/res/complain.png', alt)
            //  Modal About 
            #modal-back-about.modal-back
              #modal-about.modal
                .modal-header Acerca de
                .modal-body
                  h4.modal-body-header.

                    Creado y Desarrollado en Las Tunas por:

                  .container-us
                    .avatar-rafa
                      img(src='/public/img/res/avatar-rafa.png', alt)
                      span.name Rafael Acosta Márquez
                    .avatar-jesus
                      img(src='/public/img/res/avatar-jesus.png', alt)
                      span.name Jesús Manuel López Ponce
                  .avatar-abraham
                    h4.modal-body-header.

                      Con una idea original de:

                    span.name Sadan Jiskly Fernández Ávila
                    span.name José Abraham Oduardo Ávila
            //  Fin Modal About 
            #second-element-contact-us.about-us
              span.element-contact-us Acerca de
              img.contact-icon(src='/public/img/res/info.svg', alt)
        .social-media
          span.footer-content-title.center-title Redes Sociales
          a.social-media-icon(href)
            img(src='/public/img/res/facebook.png', alt)
        .go-top
          a(href='#header')
            img.go-top-icon(src='/public/img/res/next.png', alt)
    .line

  block footer
  script(src="/public/js/menu.js")
  script(src="/public/js/index.js")
  script(src="/public/js/ordenes.js")
  script(src="/public/js/alert.js")
  script(src="/public/js/alert-completed.js")

  if user
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/socket.js")
    script(src="/public/js/realtime.js")
    script(src="/public/js/login.js")



  -if (path.startsWith("/mascotas") || path.startsWith("/accesorios"))
    script(src="/public/js/lazy-load.js")
    script(src="/public/js/modal.js")

  -if (path.startsWith("/mascotas"))
    script(src="/public/js/mascotas.js")
