doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title TuMascota
    link(rel='stylesheet' href='/public/css/shared.css')
    link(rel='stylesheet' href='/public/css/log-in.css')
    link(rel='icon' href='/public/img/res/shop.png')
  body
    header.main-header
      .main-header__container
        a(href='/')
          img.logo-tm(src='/public/img/res/Logo.png' alt)
    main#main
      section#login-section.login-section
        .login-section__container
          .login-section__header
            | Acceder
            a.close-login(href='/')
              img(src='/public/img/res/close.png' alt)
          .logo-user
            img(src='/public/img/res/user.png' alt)
          img.login-section__logo(src='/public/img/res/Logo.png' alt)
          != messages()
          form.login-section__form(action='/users/login' method='post')
            .form-container
              label.form-container__img(for='username')
                img(src='/public/img/res/user-input.png' alt)
              |
              |
              input#username(autofocus type='text' name='username' required)
              label.placeholder(for='username') Nombre de usuario
            .form-container
              label.form-container__img(for='password')
                img(src='/public/img/res/password.png' alt)
              |
              |
              input#password.password(type='password' name='password' required)
              label.placeholder(for='password') Contraseña
              span#show-password.show-password
                img(src='/public/img/res/show-eye.png' alt)
            .forgot-password
              a(href='/users/forgot_password') olvidaste la contraseña?
            input.btn(type='submit' value='Acceder')
            |
            |
            a.btn.btn-cancel(href='/' type='submit').

              Cancelar

          span.line-login
            | No tienes una cuenta? 

            a(href='/users/register') Regístrate Aquí
    script(src='/public/js/shared.js')
    script(src='/public/js/login.js')
    script(src='/public/js/alert.js')