doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title TuMascota
    link(rel='stylesheet' href='/public/css/shared.css')
    link(rel='stylesheet' href='/public/css/log-in.css')
    link(rel='stylesheet' href='/public/css/alert-style.css')
    link(rel='icon' href='/public/img/res/shop.webp')
  body
    header.main-header
      .main-header__container
        a.logo(href='/')
          img.logo__img(src='/public/img/res/Logo.webp' alt)
    main#main
      section#login-section.login-section
        h3.login-section__title
          | Inciar Sesión
          .underline
            span
            img(src='/public/img/res/pata.webp' alt)
            span
        .login-section__container
          .login-section__header
          .logo-user
            img(src='/public/img/login/user.webp' alt)
          img.login-section__logo(src='/public/img/res/Logo.webp' alt)
          form#login-form.login-section__form(action='/users/login' method='post')
            .form-container
              label.form-container__img(for='username')
                img(src='/public/img/login/user-input.webp' alt)
              |
              |
              input#username(autofocus type='text' name='username' required)
              label.placeholder.move-placeholder(for='username') Nombre de usuario
            .form-container
              label.form-container__img(for='password')
                img(src='/public/img/login/password.webp' alt)
              |
              |
              input#password.password(type='password' name='password' required)
              label.placeholder(for='password') Contraseña
              span#show-password.show-password
                img(src='/public/img/login/show-eye.webp' alt)
            .forgot-password
              a(href='/users/forgot_password') ¿olvidaste la contraseña?
            input.btn(type='submit' value='Acceder')
            |
            |
            a.btn.btn-cancel(href='/' type='submit') Cancelar
          span.line-login
            | ¿No tienes una cuenta? 
            a(href='/users/register') Regístrate Aquí
        #back-email-send.send-email
          .send-email__header Recuperar Contraseña
          .send-email__title
            img(src='/public/img/login/confirm-email.webp' alt)
          h4 Revisa tu correo electrónico
          p.send-email__info
            | Hemos enviado un correo electrónico a su buzón
            |  con las instrucciones para finalizar la creación de su cuenta

            br
          span.line-login Si no encuentra el correo, revise su bandeja spam
  footer.main-footer
    .main-footer__logo
      img(src='/public/img/res/Logo.webp' alt)
      strong.copyright © 2021- Todos los derechos reservados
    .main-footer__social-media
      a(href='#')
        img(src='/public/img/res/facebook.webp' alt)
      a(href='#')
        img(src='/public/img/res/whatsapp.webp' alt)
      a(href='#')
        img(src='/public/img/res/telegram.webp' alt)
    |
    |
    .main-footer__info
      p
        | Hemos construido 
        strong Tumascota
        |  porque amamos a los animales. Si le gusta la página o tiene alguna sugerencia puede llamarnos al 
        strong 58156518
        |  o puede enviarnos un correo electrónico a 

        strong tumascota@nauta.cu 
        | así como tus comentarios, son bienvenidos.

    .main-footer__content
      .main-footer__element
        h4 Contenido
        ul.main-footer__list
          li.main-footer__item
            a(href='/') Inicio
          |
          |
          li.main-footer__item
            a(href='/mascotas') Mascotas
          |
          |
          li.main-footer__item
            a(href='/accesorios') Accesorios
          |
          |
          li.main-footer__item
            a(href='/servicios') Servicios
      |
      |
      .main-footer__element
        h4 Contacto
        ul.main-footer__list
          li.main-footer__item.contact-us
            | Contáctanos
            |
            |
            img(src='/public/img/res/phone-blue.webp' alt)
          |
          |
          li.main-footer__item.about-us
            | Acerca De
            |
            |
            img(src='/public/img/res/info.webp' alt) 
      |
      |
      .main-footer__element
        h4 Redes Sociales
        ul.main-footer__list
          li.main-footer__item
            | Facebook
            |
            |
            img(src='/public/img/res/facebook.webp' alt)
          |
          |
          li.main-footer__item
            | Whatsapp
            |
            |
            img(src='/public/img/res/whatsapp.webp' alt)
          |
          |
          li.main-footer__item
            | Telegram
            |
            |
            img(src='/public/img/res/telegram.webp' alt)
  .go-top
    a(href='#main')
      img.go-top-icon(src='/public/img/res/next.webp' alt)
  //  modal contact-us 
  #modal-back-contact.modal-back
    #modal-contact.modal
      .modal__header
        | Contactános
        
        button.modal-close(type='submit')
          img.modal-close__icon(src='/public/img/res/close-white.webp' alt)
      .modal__body
        h4.modal-body__header.
          ¿Tienes alguna pregunta? Contáctanos:
        .modal__contact-us
          .modal__contact-us-element
            img(src='/public/img/res/mail.webp' alt)
            |
            |
            span tumascota@nauta.cu
          .modal__contact-us-element
            img(src='/public/img/res/whatsapp.webp' alt)
            |
            |
            span 58156518
          .modal__contact-us-element.modal__contact-us-facebook
            a(href='#')
              img(src='/public/img/res/facebook.webp' alt)
            |
            |
            span TuMascota
          .modal__contact-us-element.modal__contact-us-telegram
            a(href='#')
              img(src='/public/img/res/telegram.webp' alt)
              |
              |
              span TuMascota
  #modal-back-about.modal-back
    #modal-about.modal
      .modal__header  Acerca de

        button.modal-close(type='submit')
          img.modal-close__icon(src='/public/img/res/close-white.webp' alt)
      .modal__body
        h4.modal-body__header Creado y Desarrollado en Las Tunas por:
        .modal__container-us
          .avatar-rafa
            img(src='/public/img/res/avatar-rafa.webp' alt)
            span.name Rafael Acosta Márquez
          |
          |
          .avatar-jesus
            img(src='/public/img/res/avatar-jesus.webp' alt)
            span.name Jesús Manuel López Ponce
        .avatar-abraham
          h4.modal-body__header.

            Con una idea original de:

          span.name Sadan Jiskly Fernández Ávila
          span.name José Abraham Oduardo Ávila
block scripts 
  script(src='/public/js/shared.js')
  script(src='/public/js/login.js')
  script(src='/public/js/alert.js')
  script(src='/public/js/forgot-password.js')
    