extends ./admin-layout.pug
block contenido
  div(class="container col-md-4 top-space")
    form(action="/admin/accesorios/" method='POST' class="form-group" enctype="multipart/form-data")

      input(type="text" class="form-control" name="type"  placeholder="Tipo de accesorio" required)

      input(type="text" class="form-control" name="price" placeholder="Precio" required)

      input(type="text" class="form-control" name="description" placeholder="Descripción")

      input(type="text" class="form-control" name="cnt"  placeholder="Cantidad de articulos")

      input(type="text" class="form-control" name="ownerName" placeholder="Nombre del dueño" required)

      input(type="text" class="form-control" name="ownerPhone" placeholder="Télefono" required)

      input(type="text" class="form-control" name="ownerAccount" placeholder="Cuenta bancaria")

      input(type="file" class="form-control" name="file")

      div(class="d-flex")
        input(type="submit" class="btn btn-info " value="Guardar")



