extends ./admin-layout.pug
block contenido
  div(class="container col-md-4 top-space")
    form(action="/admin/mascotas/" method='POST' class="form-group" enctype="multipart/form-data")

      select#options.form-control(name="type")
        option(value="perro") Perro
        option(value="gato") Gato
        option(value="ave") Ave
        option(value="roedor") Roedor
        option(value="pez") Pez
        option(value="otro") Otro
      input#animal-type.form-control(type="text" placeholder="Escriba el tipo de animal" style='display:none;')

      input.form-control(type="text" name="breed" placeholder="Raza")

      select.form-control(name="sex")
        option(value="") Selecciona el Sexo
        option(value="Masculino") Masculino
        option(value="Femenino") Femenino

      input.form-control(type="text" name="price" placeholder="Precio" required)

      input.form-control(type="text" name="cnt" placeholder="Cantidad" required)

      input.form-control(type="datetime-local" name="birthDay" placeholder="Año-Mes-Dia")

      input.form-control(type="text" name="description" placeholder="Descripción")

      input.form-control(type="text" name="ownerName" placeholder="Nombre del dueño" required)

      input.form-control(type="tel" name="ownerPhone" placeholder="Télefono del dueño" required)

      input.form-control(type="text" name="ownerAccount" placeholder="Cuenta bancaria")

      input.form-control(type="file" name="image" accept="image/jpeg,image/png" )

      div(class="d-flex")
        input(type="submit" class="btn btn-info " value="Guardar")
      script.
        let opts = document.querySelector('#options')
        let input = document.querySelector('#animal-type');
        opts.addEventListener('click',(e)=>{
          if(e.target.value == 'otro')
          {
            //- e.target.style = 'display:none';
            input.style = "";
            input.setAttribute("name","type");
            opts.removeAttribute("name");

          }
          else 
          {
            opts.setAttribute("name","type");
            input.removeAttribute("name");
            input.style = 'display:none';
          }

        })



