extends ./admin-layout.pug
block contenido
  main.main-admin
    button.btn.btn-go-back(onclick = "window.history.back()") 
      img(src="/public/img/admin/atras.png" alt="")
      | Atras 
    h3.main-title Nueva Mascota
    label.btn.btn-add-photo(for="file-selector")
      img(src="/public/img/admin/camera.png" alt="") 
      | Seleccionar Fotos
    section.gallery-section
      article.gallery
      .gallery-move 
        button.btn.btn-prev(type="submit")
          img(src="/public/img/admin/atras.png" alt="") 
        button.btn.btn-next(type="submit")
          img(src="/public/img/admin/adelante.png" alt="")
    article.form-container 
      form(action="/admin/mascotas/" method='POST' class="form-group" enctype="multipart/form-data")

        select#options.form-input(name="type")
          option(value="perro") Perro
          option(value="gato") Gato
          option(value="ave") Ave
          option(value="roedor") Roedor
          option(value="pez") Pez
          option(value="otro") Otro
        input#animal-type.form-input(type="text" placeholder="Escriba el tipo de animal" style='display:none;')

        input.form-input(type="text" name="breed" placeholder="Raza")

        select.form-input(name="sex")
          option(value="") Selecciona el Sexo
          option(value="Masculino") Masculino
          option(value="Femenino") Femenino

        input.form-input(type="text" name="price" placeholder="Precio" required)

        input.form-input(type="text" name="cnt" placeholder="Cantidad" required)

        input.form-input(type="datetime-local" name="birthDay" placeholder="Año-Mes-Dia")

        input.form-input(type="text" name="description" placeholder="Descripción")

        input.form-input(type="text" name="ownerName" placeholder="Nombre del dueño" required)

        input.form-input(type="tel" name="ownerPhone" placeholder="Télefono del dueño" required)

        input.form-input(type="text" name="ownerAccount" placeholder="Cuenta bancaria")

        //- label.btn.select-file(for="file-selector") Seleccionar archivo
        //- div.file-selected  No ha seleccionado ningún archivo
        input.form-input(type="file" id="file-selector" multiple  name="images" accept="image/*" )

        .btn-save-container
          input(type="submit" class="btn btn-save" value="Guardar")
          a.btn.btn-cancel(href="/admin/mascotas") Cancelar
  script.
    let opts = document.querySelector("#options"),
      input = document.querySelector("#animal-type");
    const inputFile = document.querySelector("#file-selector"),
    btnAddPhoto = document.querySelector("btn-add-photo"),
    filesSelected = document.querySelector(".file-selected"),
    gallery = document.querySelector(".gallery"),
    btnPrevImage = document.querySelector(".btn-prev"),
    btnNextImage = document.querySelector(".btn-next");

    //Galeria de imagenes
    let idxGallery = 0;
    function moveGallery(dir) {
        if (!dir) {
            let flag = 0;
            for (idxGallery; idxGallery >= -1; idxGallery--) {
                let node = gallery.children[idxGallery];
                if (flag) {
                    if (idxGallery === -1) {
                        node = gallery.children[gallery.childElementCount - 1];
                        idxGallery = gallery.childElementCount - 1;
                    }
                    node.classList.add("picture-show");
                    flag = 0;
                    break;
                }
                if (node.classList.contains("picture-show")) {
                    node.classList.remove("picture-show");
                    flag = 1;
                }
            }
        } else {
            let flag = 0;
            for (idxGallery; idxGallery <= gallery.children.length; idxGallery++) {
                let node = gallery.children[idxGallery];
                if (flag) {
                    if (idxGallery === gallery.children.length) {
                        node = gallery.children[0];
                        idxGallery = 0;
                    }
                    node.classList.add("picture-show");
                    flag = 0;
                    break;
                }
                if (node.classList.contains("picture-show")) {
                    node.classList.remove("picture-show");
                    flag = 1;
                }
            }
        }
    }
      
    //- function handleDelete(node){
    //-     node.lastElementChild.addEventListener("click", function () {
    //-     //Mover al siguiente
    //-     for (let p = 0; p < gallery.children.length; p++) {
    //-         let n = gallery.children[p];
    //-         if (n.classList.contains("picture-show")) {
    //-             idxGallery = p == gallery.children.length - 1 ? 0 : p;
    //-             break;
    //-         }
    //-     }
    //-     gallery.removeChild(node);

    //-     if (gallery.childElementCount == 0) {
    //-       gallery.innerHTML = "<span style = 'font-weight: 600;color: #4c4c4c;'>No ha seleccionado ninguna foto </span>";
    //-       btnPrevImage.parentElement.style.display = "none";
    //-     }
    //-     gallery.children[idxGallery].classList.add("picture-show");
    //- });
    //- } 

    btnPrevImage.addEventListener("click", function () {
      moveGallery(0);
    });
    btnNextImage.addEventListener("click", function () {
      moveGallery(1);
    });

    inputFile.addEventListener("change", function () {
      let currentFiles = inputFile.files;
      if ( currentFiles.length === 0 && gallery.childElementCount === 0) {
        gallery.innerHTML ="<span style = 'font-weight: 600;color: #4c4c4c;'>No ha seleccionado ninguna foto </span>";
      } else {
        if (
          !gallery.childElementCount ||
          (currentFiles.length && !gallery.children[0] != "span")
        ) {
          gallery.innerHTML = "";
        }
        //muestro los botones si hay elementos
        if(currentFiles.length){
          btnPrevImage.parentElement.style.display = "block";
        }
        let flag = 0;
        for (let file of currentFiles) {
          let reader = new FileReader();

          reader.addEventListener("load", function (e) {
            const node = document.createElement("div");
            node.classList.add("picture");
            node.innerHTML = `<img src=${reader.result} alt=''>`;
            if (!flag) {
                node.classList.add("picture-show");
                idxGallery = 0;
                flag = 1;
            }
            gallery.appendChild(node);
            //- handleDelete(node);
          });
          reader.readAsDataURL(file);
        }
      }
    });

    opts.addEventListener("click", (e) => {
      if (e.target.value == "otro") {
        //- e.target.style = 'display:none';
        input.style = "";
        input.setAttribute("name", "type");
        opts.removeAttribute("name");
      } else {
        opts.setAttribute("name", "type");
        input.removeAttribute("name");
        input.style = "display:none";
      }
    });






