extends ./admin-layout.pug
block contenido
  div(class="container col-md-4 top-space")
    form(action="/admin/mascotas/" method='POST' class="form-group" enctype="multipart/form-data")

      input(type="text" class="form-control"  name="animal_type"  placeholder="Tipo de animal" required)

      input(type="text" class="form-control" name="breed" placeholder="Raza")

      input(type="text" class="form-control" name="sex" placeholder="Sexo")

      input(type="text" class="form-control" name="price" placeholder="Precio" required)

      input(type="text" class="form-control" name="cnt" placeholder="Cantidad" )

      input(type="datetime-local " class="form-control" name="birth_day" placeholder="Año-Mes-Dia")

      input(type="text" class="form-control" name="description" placeholder="Descripción")

      input(type="text" class="form-control" name="owner_name" placeholder="Nombre del dueño" required)

      input(type="tel" class="form-control" name="owner_phone" placeholder="Télefono del dueño" required)

      input(type="text" class="form-control " name="owner_account" placeholder="Cuenta bancaria")

      input(type="file" class="form-control" name="file" accept="image/jpeg,image/png")

      div(class="d-flex")
        input(type="submit" class="btn btn-info " value="Guardar")



