extends ./admin-layout.pug
block contenido
  main.main-admin
    button.btn.btn-go-back(onclick = "window.history.back()") 
      img(src="/public/img/admin/atras.webp" alt="")
      | Atras 
    h3.main-title Nueva Mascota
    label.btn.btn-add-photo(for="file-selector")
      img(src="/public/img/admin/camera.webp" alt="") 
      | Seleccionar Fotos
    section.gallery-section
      article.gallery
        span.no-picture-selected No ha seleccionado ninguna foto
      .gallery-move 
        button.btn.btn-prev(type="submit")
          img(src="/public/img/admin/atras.webp" alt="") 
        button.btn.btn-next(type="submit")
          img(src="/public/img/admin/adelante.webp" alt="")
    article.form-container 
      form(action="/admin/mascotas/" method='POST' class="form-group create-article" enctype="multipart/form-data")
        .form-input-container
          select#options.form-input(name="type")
            option(value="perro") Perro
            option(value="gato") Gato
            option(value="ave") Ave
            option(value="roedor") Roedor
            option(value="pez") Pez
            option(value="otro") Otro
        .form-input-container
          input#animal-type.form-input(type="text" placeholder="Escriba el tipo de animal" style='display:none;')
        .form-input-container
          input.form-input(type="text" name="breed" placeholder="Raza")
        .form-input-container
          select.form-input(name="sex")
            option(value="") Selecciona el Sexo
            option(value="Masculino") Masculino
            option(value="Femenino") Femenino
        .form-input-container
          input.form-input(type="text" name="price" placeholder="Precio" required)
        .form-input-container
          input.form-input(type="text" name="cnt" placeholder="Cantidad" required)
        .form-input-container
          input.form-input(type="text" name="birthDay" placeholder="Año-Mes-Dia")
        .form-input-container
          input.form-input(type="text" name="description" placeholder="Descripción")
        .form-input-container
          input.form-input(type="text" name="ownerName" placeholder="Nombre del dueño" required)
        .form-input-container
          input.form-input(type="tel" name="ownerPhone" placeholder="Télefono del dueño" required)
        .form-input-container
          input.form-input(type="text" name="ownerAccount" placeholder="Cuenta bancaria")

        //- label.btn.select-file(for="file-selector") Seleccionar archivo
        //- div.file-selected  No ha seleccionado ningún archivo
        input.form-input(type="file" id="file-selector" multiple  name="images" accept="image/*" )

        .btn-save-container
          input(type="submit" class="btn btn-save" value="Guardar")
          a.btn.btn-cancel(href="/admin/mascotas") Cancelar
  script(src="/public/js/admin-article.js")
  script(src="/public/js/admin-new-article.js")



