extends ./admin-layout.pug
block contenido
  main.main-admin
    button.btn.btn-go-back(onclick = "window.history.back()") 
      img(src="/public/img/admin/atras.webp" alt="")
      | Atras 
    h3.main-title Nuevo Accesorio
    label.btn.btn-add-photo(for="file-selector")
      img(src="/public/img/admin/camera.webp" alt="") 
      | Seleccionar Foto
    section.gallery-section
      article.gallery
        span(style = 'font-weight: 600;color: #4c4c4c;') No ha seleccionado ninguna foto
      .gallery-move 
        button.btn.btn-prev(type="submit")
          img(src="/public/img/admin/atras.webp" alt="") 
        button.btn.btn-next(type="submit")
          img(src="/public/img/admin/adelante.webp" alt="")
    article.form-container
      form(action="/admin/accesorios/" method='POST' class="form-group create-article" enctype="multipart/form-data")
        .form-input-container 
          input.form-input(type="text" name="type" placeholder="Tipo de accesorio" required)

        .form-input-container 
          input.form-input(type="text" name="price" placeholder="Precio" required)

        .form-input-container 
          input.form-input(type="text" name="description" placeholder="Descripción")

        .form-input-container 
          input.form-input(type="text" name="cnt" placeholder="Cantidad de articulos")

        .form-input-container 
          input.form-input(type="text" name="ownerName" placeholder="Nombre del dueño" required)

        .form-input-container 
          input.form-input(type="text" name="ownerPhone" placeholder="Télefono" required)

        .form-input-container 
          input.form-input(type="text" name="ownerAccount" placeholder="Cuenta bancaria")
        .form-input-container 
          input.form-input(type="file" id="file-selector" multiple  name="images" accept="image/*" )

        .btn-save-container
          input(type="submit" class="btn btn-save " value="Guardar")
          a.btn.btn-cancel(href="/admin/accesorios") Cancelar

  script(src="/public/js/admin-article.js")          
  script(src="/public/js/admin-new-article.js")
