extends ./admin-layout.pug
block contenido
  body    
    div(class="container col-md-4 center-block big-top-space")
      h1(class="text-center") Registrarse
      form(action="/users/sign_up" method="POST")
        div(class="form-group")
          label(for="name" class="form-label") Nombre
          input(type="text" class="form-control" name="name" required id="name"  placeholder="Nombre")

          label(for="phone" class="form-label") Numero de telefono
          input(type="phone" class="form-control" name="phone" required id="phone"  placeholder="Numero de telefono")

          label(for="email" class="form-label") Correo Electronico
          input(type="email" class="form-control" name="email" id="email"  placeholder="Correo Electronico")

          label(for="password" class="form-label") Contrase単a
          input(type="password" class="form-control" name="password" required id="password" placeholder="Contrase単a")

          label(for="confirm-password" class="form-label") Confirmar contrase単a
          input(type="password" class="form-control" name="password_confirmation" id="confirm-password" placeholder="Confirmar contrase単a" required)

          div(class="top-space flex-container")
            input(type="submit" value="Registrarse" class="btn btn-info")

