extends ./layout.pug
block contenido
  .xxx
    form.login-form(action="/users/reset_password?_method=PUT" method="post") 
      label(for='password') Introduzca su nueva contraseña
      input(type="password" name="password" required id='password')
      label(for='passwor2') Confirme la contraseña
      input(type="password" name="password2" required id='password2')
      input(type="hidden" name="token" value=token)
      input(type="hidden" name="id" value=id)
      input(type="submit" value="Enviar")