.mar10 {
    margin: 10px;
}

.main-section {
    text-align: center;
}

.main-section-title h3 {
    text-align: center;
    color: #fc5626;
    margin: 0 10px;
    font-size: 22px;
    background-color: #eee;
}

.main-section-title p {
    text-align: justify;
}

.main-section-title span {
    font-weight: bold;
    color: #1681da;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-container {
    width: 45%;
    box-shadow: 0 0 2px #000;
    /* padding: 5px; */
    display: inline-block;
    border-radius: 6px;
    text-align: center;
}

.article-header {
    background-color: #26bffc;
    border-radius: 6px 6px 0 0;
    margin-bottom: 10px;
    padding: 5px;
}

.article-img-container {
    display: block;
    /* text-align: center; */
    width: 30%;
    margin: auto;
}

.article-info {
    text-align: left;
    display: inline-block;
    width: 100%;
    padding: 5px;
}

/* .article-img-container {
    display: inline-block;
    padding: 5px;
    width: 35%;
} */

.article-img {
    width: 100%;
}
/* .article-info {
    display: inline-block;
    width: 63%;
    vertical-align: top;
    margin: 5px 0;
    text-align: left;
} */
.article-name {
    margin: 5px 0 10px 0;
    /* color: #fc5626; */
    color: white;
    font-size: 20px;
    margin: 0 5px;
    text-transform: uppercase;
    /* text-align: center; */
}

.article-info-title {
    font-weight: bold;
    color: #fc5626;
}

.article-description {
    margin: 5px 5px;
}

.article-description > p {
    margin: 7px 0;
    padding: 5px;
    text-align: justify;
    box-shadow: 0 0 2px #000;
    /* background-color: #fff; */
    border-radius: 5px;
    font-size: 14px;
}

.article-price {
    box-shadow: 0 0 2px #000;
    margin: 5px 5px;
    background-color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

.price {
    /* color: #1681da; */
    font-weight: bold;
}

.container-btn-buy {
    text-align: right;
}

.btn-buy {
    cursor: pointer;
    text-align: center;
    background: #26bffc;
    width: 55%;
    max-width: 185px;
    border-radius: 12px;
    padding: 3px;
    /* border: 4px solid #26bffc; */
    transition: all 0.8s ease;
    box-shadow: 2px 2px 6px black;
    display: inline-block;
}

.btn-buy > span {
    color: white;
    font-weight: bold;
}

.btn-buy:hover img {
    animation: anim-buy 1.5s ease infinite;
}

@keyframes anim-buy {
    0% {
        transform: translateY(0);
        transform: rotate(0deg);
    }

    35% {
        transform: translateY(-5px);
        transform: rotate(60deg);
    }

    75% {
        transform: translateY(5px);
        transform: rotate(-60deg);
    }
    90% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
        transform: rotate(0deg);
    }

    /* 0% {
        transform: rotate(0deg);
    }
    35% {
        transform: rotate(60deg);
    }
    70% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(0deg);
    } */
}

.btn-buy > span {
    transition: all 0.8s ease;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.btn-buy > img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

@media screen and (max-width: 700px) {
    .article-name {
        text-align: left;
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    .article-container {
        width: 86%;
    }
    .article-img-container {
        width: 45%;
    }
    .article-name {
        font-size: 18px;
    }
    .article-info-title {
        font-size: 14px;
    }
    .price {
        font-size: 14px;
    }
    .main-section-title > h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    /* .main-section-title > p {
        font-size: 14px;
    } */

    .article-info {
        text-align: left;
        display: inline-block;
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .need-account {
        font-size: 13px;
    }
    .modal-body-buy {
        padding: 5px;
        font-size: 13px;
    }
    .btns-buy-container {
        margin: 10px 0;
    }
    .modal-completed {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    .main-section-title > h3 {
        font-size: 16px;
    }
    .main-section-title > p {
        font-size: 14px;
    }

    .article-name {
        font-size: 16px;
    }
}

@media screen and (max-width: 350px) {
    .main-section-title > p {
        font-size: 12px;
    }

    .article-container {
        width: 100%;
    }
    .article-name {
        font-size: 14px;
    }
    .btn-buy {
        width: 50%;
    }
    .btn-buy > span {
        font-size: 13px;
    }
}
