.mar10 {
    margin: 0.6rem;
}

.main-section {
    text-align: center;
    margin: 1.5rem 1rem;
}

.main-section-title h3 {
    text-align: center;
    color: #fc5626;
    margin: 0 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.3rem;
}

/* .main-section-title p {
    font-size: 1rem;
    color: #6f6666;
    text-align: justify;
} */

/* .main-section-title span {
    font-weight: bold;
    color: #007bff;
} */
.no-articles {
    font-size: 1rem;
    color: #4c4c4c;
    font-weight: 600;
}

.article-container {
    max-width: 25rem;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.36);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.36);
    display: inline-block;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    text-align: center;
    position: relative;
    vertical-align: top;
    margin: 0.6rem;
}

.article-header {
    background-color: #007bff;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    margin-bottom: 0.6rem;
    padding: 0.3rem;
}

.article-img-container {
    display: block;
    width: auto;
    margin: auto;
    overflow: hidden;
    max-height: 15rem;
    cursor: pointer;
}

.article-img {
    width: 100%;
}

.article-info {
    text-align: left;
    display: inline-block;
    width: 100%;
    padding: 0.3rem;
    border-top: 2px solid #ccc;
}

.article-name {
    margin: 0.3rem 0 0.6rem 0;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.3rem;
    text-transform: uppercase;
    text-align: left;
}

.article-info-title {
    font-weight: 600;
    color: #fc5626;
    font-size: 0.9rem;
}

.article-description {
    margin: 0.3rem 0.3rem 3.5rem 0.3rem;
    color: #4c4c4c;
}

.article-description > p {
    margin: 0.6rem 0 1.3rem 0;
    text-align: justify;
    font-size: 0.9rem;
}

.article-info-back {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0.3rem;
    font-size: 0.9rem;
}

.article-price {
    margin: 0 0.8rem;
    background-color: #fff;
    display: inline-block;
}

.price {
    font-weight: bold;
}

.btn-buy {
    background: #007bff;
    max-width: 12rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-buy > span {
    color: white;
    font-weight: bold;
}

.btn-buy:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-buy:active {
    background-color: #0059b8;
}

.btn-buy:hover img {
    -webkit-animation: anim-buy 1.5s ease infinite;
    -o-animation: anim-buy 1.5s ease infinite;
    animation: anim-buy 1.5s ease infinite;
}

@-webkit-keyframes anim-buy {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    35% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    75% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    90% {
        -webkit-transform: translateY(-13px);
        transform: translateY(-13px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-o-keyframes anim-buy {
    0% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    35% {
        -webkit-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    75% {
        -webkit-transform: translateY(5px);
        -o-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    90% {
        -webkit-transform: translateY(-13px);
        -o-transform: translateY(-13px);
        transform: translateY(-13px);
    }
    100% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes anim-buy {
    0% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    35% {
        -webkit-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    75% {
        -webkit-transform: translateY(5px);
        -o-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    90% {
        -webkit-transform: translateY(-13px);
        -o-transform: translateY(-13px);
        transform: translateY(-13px);
    }
    100% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.btn-buy > span {
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 0.3rem;
    vertical-align: middle;
}

.btn-buy > img {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

/*MODAL DE GALERIA*/

.modal-gallery {
    max-width: 30rem;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-gallery.show-modal {
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transform: translateY(-60%);
}

.modal-gallery-back .modal-close {
    position: absolute;
    top: 5%;
    right: 3%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 3rem;
    height: 3rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.modal-gallery-back .modal-close__icon {
    width: 1.5rem;
    padding: 0.1rem;
    display: inline-block;
}

.modal-gallery__image-container {
    text-align: center;
    height: 100%;
}

.modal-gallery__image {
    display: inline-block;
    max-height: 65vh;
    -o-object-fit: contain;
    object-fit: contain;
    height: 100%;
    width: 100%;
    max-width: 30rem;
    background-color: #fff;
    padding: 0.3rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.modal-gallery__pictures-list {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.7rem;
    text-align: center;
    overflow: auto;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    z-index: 9;
}

.show-gallery__pictures-list {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.modal-gallery__picture {
    height: 3rem;
    margin: 0 0.5rem;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.modal-gallery__picture img {
    height: 3rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.modal-gallery__picture:hover {
    opacity: 0.6;
}

/*FIN MODAL DE GALERIA*/

@supports ((display: -webkit-flex) or (display: flex)) {
    .flex-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

@media (min-width: 30rem), (min-width: 480px) {
    .article-container {
        margin: 1.6rem;
    }
}

@media (min-width: 42.5rem), (min-width: 680px) {
    .main-section-title p {
        display: inline-block;
        text-align: center;
    }

    .article-container {
        width: 40%;
    }

    .article-img-container {
        width: 90%;
    }

    @supports not ((display: -webkit-flex) or (display: flex)) {
        .article-container {
            margin: 2.6rem;
            vertical-align: top;
        }
    }
    .article-name {
        text-align: center;
    }
}

@media (min-width: 60rem), (min-width: 960px) {
    .article-container {
        width: 25%;
    }
}
