.mar10 {
    margin: 0.6rem;
}

.main-section {
    text-align: center;
    margin: 1.5rem 1rem;
}

.main-section-title h3 {
    text-align: center;
    color: #fc5626;
    margin: 0 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.3rem;
}

.main-section-title p {
    font-size: 1rem;
    color: #6f6666;
    text-align: justify;
}

.main-section-title span {
    font-weight: bold;
    color: #007bff;
}

.article-container {
    max-width: 25rem;
    box-shadow: 0 0 12px rgb(0, 0, 0, 0.36);
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    position: relative;
    vertical-align: top;
    margin: 0.6rem;
}

.article-header {
    background-color: #007bff;
    border-radius: 6px 6px 0 0;
    margin-bottom: 0.6rem;
    padding: 0.3rem;
}

.article-img-container {
    display: block;
    width: auto;
    margin: auto;
    overflow: hidden;
    max-height: 15rem;
    cursor: pointer;
}

.article-img {
    width: 100%;
}

.article-info {
    text-align: left;
    display: inline-block;
    width: 100%;
    padding: 0.3rem;
    border-top: 2px solid #ccc;
}

.article-name {
    margin: 0.3rem 0 0.6rem 0;
    color: white;
    font-size: 1rem;
    margin: 0 0.3rem;
    text-transform: uppercase;
    text-align: left;
}

.article-info-title {
    font-weight: 500;
    color: #fc5626;
    font-size: 0.9rem;
}

.article-description {
    margin: 0.3rem 0.3rem 3.5rem 0.3rem;
    color: #4c4c4c;
}

.article-description > p {
    margin: 0.6rem 0 1.3rem 0;
    text-align: justify;
    font-size: 0.9rem;
}

.article-info-back {
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.18);
    border-radius: 4px;
    padding: 0.3rem;
    font-size: 0.9rem;
}

.article-price {
    margin: 0 0.8rem;
    background-color: #fff;
    display: inline-block;
}

.price {
    font-weight: bold;
}

.btn-buy {
    background: #007bff;
    max-width: 12rem;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-buy > span {
    color: white;
    font-weight: bold;
}

.btn-buy:hover {
    box-shadow: none;
}

.btn-buy:active {
    background-color: #0059b8;
}

.btn-buy:hover img {
    animation: anim-buy 1.5s ease infinite;
}

@keyframes anim-buy {
    0% {
        transform: translateY(0);
        transform: rotate(0deg);
    }

    35% {
        transform: translateY(-5px);
        transform: rotate(60deg);
    }

    75% {
        transform: translateY(5px);
        transform: rotate(-60deg);
    }
    90% {
        transform: translateY(-13px);
    }
    100% {
        transform: translateY(0);
        transform: rotate(0deg);
    }
}

.btn-buy > span {
    transition: all 0.8s ease;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    margin-right: 0.3rem;
    vertical-align: middle;
}

.btn-buy > img {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

/*MODAL DE GALERIA*/

.modal-gallery {
    max-width: 30rem;
    background-color: transparent;
    box-shadow: none;
}

.modal-gallery.show-modal {
    transform: translateY(-60%);
}

.modal-gallery-back .modal-close {
    position: absolute;
    top: 5%;
    right: 3%;
    background-color: rgba(255, 255, 255, 0.3);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.modal-gallery-back .modal-close__icon {
    width: 1.5rem;
    padding: 0.1rem;
    display: inline-block;
}

.modal-gallery__image-container {
    text-align: center;
    height: 100%;
}

.modal-gallery__image {
    display: inline-block;
    max-height: 65vh;
    object-fit: contain;
    height: 100%;
    width: 100%;
    max-width: 30rem;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 5px;
}

.modal-gallery__pictures-list {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.7rem;
    text-align: center;
    overflow: auto;
    transition: all 0.7s ease;
    transform: scale(0);
    z-index: 9;
}

.show-gallery__pictures-list {
    transform: scale(1);
}

.modal-gallery__picture {
    height: 3rem;
    margin: 0 0.5rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.4s ease;
}

.modal-gallery__picture img {
    height: 3rem;
    border-radius: 5px;
}

.modal-gallery__picture:hover {
    opacity: 0.6;
}

/*FIN MODAL DE GALERIA*/

@supports (display: flex) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 30rem), (min-width: 480px) {
    .article-container {
        margin: 1.6rem;
    }
}

@media (min-width: 42.5rem), (min-width: 680px) {
    .main-section-title p {
        display: inline-block;
        text-align: center;
    }

    .article-container {
        width: 40%;
    }

    .article-img-container {
        width: 90%;
    }

    @supports not (display: flex) {
        .article-container {
            margin: 2.6rem;
            vertical-align: top;
        }
    }
    .article-name {
        text-align: center;
    }
}

@media (min-width: 60rem), (min-width: 960px) {
    .article-container {
        width: 25%;
    }
}
