/*Modal necesitas cuenta*/
.need-account {
    font-size: 1rem;
    padding: 0.6rem 0 0;
}
.need-account h4 {
    width: 80%;
    margin: 0.6rem auto;
    font-weight: 600;
}

.btn-need-account img {
    width: 1.5rem;
    vertical-align: middle;
}

.need-account__btns span {
    display: block;
    color: #acacac;
    border-top: 1px solid #ccc;
    margin: 0.7rem 0 0;
    padding: 0.4rem;
}

.btn-need-account {
    margin: 0.6rem;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    background-color: #fff;
}

.btn-need-account a {
    text-decoration: none;
    color: #007bff;
    vertical-align: middle;
}

.btn-need-account:active {
    background-color: rgb(249, 250, 250);
}

/*Fin Modal Need Account*/

/*Modal Buy*/

.modal__header {
    text-align: left;
}

.modal-body__buy {
    padding: 15px;
}

.plus-btn,
.less-btn {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0 0.6rem;
    color: white;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.16), 0 2px 6px 0 rgb(0, 0, 0, 0.16);
}
.plus-btn::after {
    content: "+";
}
.less-btn::after {
    content: "-";
}

/* .less-btn:hover {
    background-color: red;
    border-color: red;
}
.plus-btn:hover {
    background-color: #0d11fd;
    border-color: #0d1ffd;
} */

.less-btn {
    background-color: #ff5252;
    border: 1px solid #ff5252;
}
.spin-box-buy {
    margin: 0.6rem 0.3rem;
    width: 3.1rem;
    height: 1.9rem;
    outline: none;
    text-align: center;
    font-family: "Montserrat";
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    border: 3px solid #ccc;
    border-radius: 6px;
    color: #353131;
}

.btns-buy-container {
    margin: 1.2rem 0;
}

.accept-btn,
.cancel-btn {
    background-color: #007bff;
    margin: 0.6rem;
    color: white;
    text-transform: uppercase;
}

.modal-body__buy > span {
    font-weight: 600;
    color: #007bff;
    text-transform: lowercase;
}

.accept-btn:hover,
.cancel-btn:hover,
.plus-btn:hover,
.less-btn:hover {
    box-shadow: none;
}

.accept-btn:active,
.plus-btn:active {
    background-color: #0059b8;
}

.cancel-btn:active,
.less-btn:active {
    background-color: #c42727;
}

.cancel-btn {
    background-color: #ff5252;
}
/*Fin Modal Buy*/

/*Modal Completado*/
