.home {
    padding: 1.7rem 1rem 1rem;
    color: #6f6666;
}
.home-title {
    text-align: center;
    font-size: 1.5rem;
    color: #f26422;
}

.home-title .underline img {
    width: 1.8rem;
}

.home-title .underline span {
    width: 30%;
}

.home-subtitle {
    font-size: 1.3rem;
    text-align: center;
    display: block;
    background-color: #f26422;
    margin: 1rem 0;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.home-gallery {
    text-align: center;
    overflow: hidden;
    margin: auto;
    max-width: 60rem;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 1.6rem;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.home-gallery__picture {
    width: 90%;
    display: inline-block;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 1.2rem;
    opacity: 0;
}

.gallery__picture--active {
    opacity: 1;
}

.carrusel {
    text-align: center;
}

.carrusel__icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0 1rem 0.8rem 0;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #007bff;
    cursor: pointer;
}

.carrusel__icon:hover {
    background-color: #99caff;
}
.carrusel__icon:active {
    background-color: #007bff;
}

.carrusel__icon--active {
    background-color: #007bff;
}
.carrusel__icon--active:hover {
    background-color: #007bff;
}

.service {
    text-align: center;
    background-color: rgb(245, 245, 247);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 1rem;
}

.service__header {
    margin: 0;
    font-size: 1.2rem;
    color: #f26422;
    text-transform: uppercase;
}

.service__list {
    list-style: none;
    margin: 1rem 0;
}

@supports ((display: -webkit-flex) or (display: flex)) {
    .service__list {
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.service__item {
    background-color: #fff;
    margin: 1rem;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    padding-bottom: 0.6rem;
    position: relative;
}

.service__item-number {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    background-color: #f26422;
    color: #fff;
    font-weight: bold;
    padding: 0 0.5rem;
    line-height: 1.6rem;
    top: -5%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 0.9rem;
}

.service__item img {
    width: 4rem;
    margin: 1.6rem 0.6rem 0.2rem;
}

.service__item strong {
    display: block;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0 0.4rem;
    color: #6f6666;
    border-bottom: 2px solid #f26422;
}

.service__item p {
    margin: 0 0.7rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    color: #9c9999;
}

.service__item-btn {
    padding: 0.2rem 0.4rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    background-color: #f26422;
    font-weight: normal;
}

.service__item-btn a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.home-articles {
    margin: 1rem auto;
    text-align: center;
    max-width: 44rem;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.home-articles__picture {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
}

.home-articles__picture:hover {
    /* opacity: 0.7; */
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.home-articles__picture img {
    display: inline-block;
    width: 19rem;
    max-width: 100%;
    vertical-align: middle;
    padding: 0.6rem;
    margin: 0 0.5rem;
}

.home-articles__container {
    margin: 0.6rem;
    -moz-text-align-last: center;
    text-align-last: center;
    display: inline-block;
    vertical-align: middle;
}

.home-articles__container h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ffa54c;
    margin-bottom: 1rem;
}

.home-articles__container p {
    margin: 1.8rem 0;
    font-size: 1.2rem;
    max-width: 20rem;
}

.home-articles__btn {
    margin: 1rem;
}

.home-articles__btn .btn {
    padding: 0.4rem;
    color: #fff;
    background-color: #0bb1e7;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    display: inline-block;
}

.home-articles__btn .btn:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.home__contact-us {
    text-align: center;
    margin: 1rem 0;
}

.home__contact-us-header {
    color: #f26422;
    font-size: 1.2rem;
}

.home__contact-us-picture {
    display: inline-block;
    width: 16rem;
    vertical-align: middle;
}

.home__contact-us-list {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    text-align: left;
}

.home__contact-us-item {
    font-size: 0.9rem;
    margin: 0.4rem 0;
}

.home__contact-us-item span {
    display: inline-block;
    vertical-align: middle;
}
.home__contact-us-item img {
    width: 1.6rem;
    display: inline-block;
    margin: 0.5rem 0;
    vertical-align: middle;
}
.home__contact-us-item a img {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.home__contact-us-item a img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 46rem), (min-width: 736px) {
    .service {
        margin: 1rem auto;
    }
    .service__list {
        display: table;
        margin: 1rem auto;
        border-spacing: 0.9rem;
    }
    .service__item {
        display: table-cell;
        width: 24%;
        max-width: 25rem;
    }
    @supports ((display: -webkit-flex) or (display: flex)) {
        .service__list {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }

    .home__contact-us-item {
        font-size: 1rem;
    }
    .home__contact-us-item img {
        width: 2rem;
    }
}
