.filter {
    margin: 10px;
}
.filter > span {
    color: #fc5626;
    font-weight: bold;
}

.filter-btn {
    padding: 2px 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #26bffc;
    color: white;
    /* outline: none; */
    border: 2px solid #26bffc;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.filter-btn-sub {
    display: block;
    margin: auto;
    background-color: rgb(46, 221, 46);
    font-weight: bold;
}

.filter-btn:hover {
    background-color: #fff;
    color: #26bffc;
}

.filter-form {
    background-color: #26bffc;
    border-radius: 6px;
    margin: auto;
    width: 270px;
    transform: scale(0);

    transition: all 0.6s ease;
    transform-origin: 50% 0;
    height: 0;
    overflow: hidden;
}

.show-filter-form {
    transform: scale(1);
    height: 180px;
}

.group-filter {
    display: inline-block;
    /* margin-right: 10px; */
    padding: 10px;
    padding-bottom: 0;
}

.filter-elements-container {
    padding: 5px 10px;
    display: table-row;
}
.filter-element {
    display: table-cell;
    color: white;
}
.filter-checkbox {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.filter-element > img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 5px 0;
}

.pet-flex {
    justify-content: space-around;
}

.article-info-list {
    list-style: none;
}

.pet-image {
    width: 96%;
}

.article-info-element {
    margin: 7px 3px;
    display: inline-block;
    font-size: 14px;
}

.article-info-element p {
    text-align: justify;
}

.mar50 {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .filter-elements-container {
        width: 30%;
    }
    .container-pet-article {
        margin: 30px auto;
        width: 80%;
    }
    .container-pet {
        flex-direction: column;
    }
    .next-img,
    .prev-img {
        /* width: 20px;
        height: 20px; */
        bottom: 10px;
    }
    .container-btn-buy {
        margin-bottom: 10px;
    }
    .btn-buy {
        width: 50%;
    }
    .btn-buy > span {
        font-size: 14px;
    }
    .need-account {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .btn-buy {
        width: 55%;
    }
    .btn-buy > span {
        font-size: 16px;
    }
}
@media screen and (max-width: 650px) {
    .btn-need-account {
        font-size: 14px;
    }
}
@media screen and (max-width: 550px) {
    .next-img,
    .prev-img {
        width: 20px;
        height: 20px;
    }

    .btn-buy {
        width: 35%;
    }
    .btn-buy > img {
        width: 30px;
        height: 30px;
    }
    .btn-buy > span {
        font-size: 14px;
    }
    .need-account {
        font-size: 14px;
    }
}
@media screen and (max-width: 450px) {
    .filter > span,
    .filter-btn {
        font-size: 14px;
    }

    .filter-element > img {
        width: 20px;
        height: 20px;
    }
    .show-filter-form {
        height: 138px;
        width: 230px;
    }
    .filter-element {
        font-size: 14px;
    }
    .btn-buy {
        width: 40%;
    }
    .btn-buy > span {
        font-size: 14px;
    }
    .need-account {
        font-size: 13px;
    }
    .modal-body-buy {
        padding: 5px;
        font-size: 13px;
    }
    .btns-buy-container {
        margin: 10px 0;
    }
    .modal-completed {
        width: 60%;
    }
}
@media screen and (max-width: 400px) {
    .filter > span,
    .filter-btn {
        font-size: 12px;
    }
    .filter-elements-container {
        width: 45%;
    }
    .main-section-title > h3 {
        font-size: 16px;
    }
    .filter-element {
        font-size: 12px;
    }
    .btn-buy {
        width: 45%;
        border-radius: 8px;
    }
    .need-account {
        font-size: 12px;
    }
    .btn-need-account {
        font-size: 10px;
    }
    .accept-btn,
    .cancel-btn {
        display: inline-block;
    }
}

@media screen and (max-width: 350px) {
    .filter-form {
        /* display: inline-block; */
        width: 220px;
    }
    .btn-buy {
        width: 55%;
    }
}
