.filter-orders-menu {
    margin: 1.2rem 0.6rem 2.5rem 0.6rem;
}
.filter-order {
    display: block;
    width: 100%;
    margin: 10px 5px;
    padding: 10px 15px;
    box-shadow: 2px 2px 4px #00000080;
    cursor: pointer;
    transition: all 0.5s;
}

.filter-order:hover {
    opacity: 0.7;
}
.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin: 6px 0 0 0;
    text-align: center;
    /* position: absolute; */
    background-color: #fff;
    border-radius: 12px;
}
.active:hover {
    opacity: unset;
}

.order-state {
    padding: 0.2rem 0.1rem;
    background-color: #ff5252;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.9rem;
    color: white;
    cursor: default;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
}

.filter-orders-menu .order-state {
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

.order-section__column .order-state {
    padding: 0.2rem 0.4rem;
}

.order-state[data-state="onway"] {
    background-color: #2196f3;
    font-style: italic;
}
.order-state[data-state="pendient"] {
    background-color: #f57c00;
}
.order-state[data-state="aproved"] {
    background-color: #38a4a4;
}
.order-state[data-state="completed"] {
    background-color: #4caf50;
}

.order-state > img {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    vertical-align: sub;
}

.pendient {
    border-radius: 50%;
    padding: 2px;
    border: 2px solid white;
}

.order-section {
    margin: 1.8rem auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    border-radius: 5px;
}

.order-section__title {
    background-color: #007bff;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 0.3rem;
}

.order-section__table {
    margin: auto;
    width: 100%;
    border-spacing: 0;
    font-size: 0.9rem;
    padding: 0.1rem;
}

.order-section__cell {
    background-color: #f9f9f9;
    padding: 1.2rem 0;
}

.order-section__column--header {
    background-color: #fff;
}

.order-section__column--header .order-section__column {
    border-top: 1px solid #ddd;
}

.order-section__header {
    display: none;
}

.order-section__column {
    color: #4c4c4c;
    background-color: #f9f9f9;
    display: block;
    text-align: left;
    padding: 0.5rem 0 0.5rem 9rem;
    position: relative;
    border: none;
    border-bottom: 2px solid #ddd;
}
.order-section__column:nth-child(odd) {
    background-color: #eee;
}

.order-section__column:before {
    position: absolute;
    top: 25%;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    font-weight: bold;
    white-space: nowrap;
    content: attr(data-header);
}

.cancel-order {
    background-color: #ff3333;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
    border-radius: 4px;
}

.cancel-order img {
    width: 20px;
}

.no-orders {
    font-size: 1.1rem;
    color: #828283;
    margin: 1rem;
    display: inline-block;
}

.no-orders .btn {
    text-decoration: none;
    background-color: #00aced;
    color: white;
    padding: 0.4rem 0.5rem;
    margin: 0.5rem auto;
    display: inline-block;
}

.no-orders > span {
    font-size: 1.1rem;
    /* margin: 0 0.5rem; */
    font-weight: bold;
    color: #f57c00;
}

.no-orders > span[data-state="aproved"] {
    color: #38a4a4;
}
.no-orders > span[data-state="completed"] {
    color: #4caf50;
}
.no-orders > span[data-state="onway"] {
    color: #2196f3;
}
.no-orders > span[data-state="canceled"] {
    color: #ff5252;
}

@media (min-width: 27rem) {
    .filter-order {
        display: inline-block;
        width: auto;
    }
}

@media (min-width: 50rem) {
    .order-section__table {
        padding: 0.5rem;
    }
    .order-section__header {
        display: table-header-group;
    }
    .order-section__column {
        display: table-cell;
        padding: 0.6rem 0.3rem;
    }
    .order-section__column:nth-child(odd) {
        background-color: initial;
    }

    .order-section__header {
        background-color: #eee;
    }
    .order-section__column--header {
        background-color: #eee;
    }

    .order-section__column:before {
        content: none;
    }
}
