* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
.header {
  width: 100%;
  background: linear-gradient(to bottom, #1681da 0%, #5626fc 100%);
  /* background-color: #5626fc; */
  position: relative;
}

.container-header {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  box-shadow: 0 0 6px #000000;
}

.title {
  color: white;
  text-shadow: 0 0 6px #00000080;
}

.menu-icon {
  position: fixed;
  background-color: #fff;
  /* top: 110px; */
  /* top: 10px; */
  /* bottom: 10px; */
  top: 10px;
  left: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px #00000080;
}

.nav-menu {
  position: fixed;
  /* background: linear-gradient(to left, #26ccfc 0%, #26ccfc 100%); */
  background: linear-gradient(to right, #1681da 0%, #5626fc 100%);
  box-shadow: 0 0 6px #00000080;
  /* height: 60%; */
  width: 20%;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translate(-110%);
  transition: transform 0.3s ease;
}

.show-menu {
  transform: translate(0%);
}

.menu-element {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 2px;
  padding-bottom: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.menu-element a {
  display: inline-block;

  line-height: 2.3;
  text-decoration: none;
  color: white;
}

.menu-element > img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.line-element {
  width: 95%;
  height: 2px;
  background-color: #fff;
  margin: auto;
}

.container-section {
  text-align: center;
  /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
  background-image: url(/img/patron.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  margin: 20px 0;
}

.subtitle {
  font-size: 60px;
  color: #fc5626;
}
.subtitle-p {
  font-size: 28px;
  font-weight: bold;
  color: #424242;
}

.back-image {
  width: 80%;
}

.button-p {
  font-size: 30px;
  font-weight: bold;
  color: #fc5626;
  margin-bottom: 20px;
}

.btn {
  background-color: #fff;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: 4px solid #fc5626;
  transition: all 0.2s ease;
  padding: 10px;
  margin: 10px 0;
  border-radius: 30px;
}

.btn:hover {
  background-color: #fc5626;
  color: white;
}

footer {
  padding-bottom: 0.1px;
  /* background: linear-gradient(to top, #1681da 0%, #5626fc 100%);*/
  background-color: #1681da;
  /* background: linear-gradient(to top, #5ea6e0 0%, #3372df 100%); */
}

.container-footer {
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-us {
  text-align: center;
  width: 80%;
}

.contact-us h3 {
  font-size: 32px;
  color: white;
}

.contact-us p {
  font-weight: bold;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
}

.social-media-icon {
  margin: 10px;
  text-align: center;
  display: inline-block;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  line-height: 60px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.social-media-icon:hover {
  background-color: #0b5dec;
}

.social-media-icon img {
  transition: transform 0.2s ease;
  width: 30px;
  height: 30px;
}

.social-media-icon:hover img {
  transform: scale(1.3);
}

.line {
  width: 90%;
  /* max-width: 1200px; */
  margin: auto;
  height: 2px;
  background: #fff;
  margin-bottom: 10px;
}
